@page "/projects/{ProjectId:int}"
@using Portfolio.Shared
@inject Portfolio.Blazor.DataProvider.APIService service

<h3>@Title</h3>
<br />

<h5>Requirements:</h5>
<p>@Requirements</p>
<br />

<h5>Design:</h5>
<p>@Design</p>
<br />

<h5>Completion date:</h5>
<p>@CompletionDate</p>
<br />

<h5>Languages:</h5>
@foreach(var l in languages)
{
    <ul>
        <li>@l.Name</li>
    </ul>
}

@code {
    [Parameter]
    public int ProjectId { get; set; }

    public string Title { get; set; }
    public string Requirements { get; set; }
    public string Design { get; set; }
    public DateTime CompletionDate { get; set; }

    public Project Project { get; set; }

    private IEnumerable<Language> languages = new List<Language>();

    /// <summary>
    /// it was needed to have separate properties for displaying
    /// because the page loaded before oninitializedasync finished
    /// giving place to a null exception
    /// </summary>
    /// <returns>void Task</returns>
    protected override async Task OnInitializedAsync()
    {
        //return base.OnInitializedAsync();
        Project = await service.GetProjectByIDAsync(ProjectId);

        Title = Project.Title;
        Requirements = Project.Requirement;
        Design = Project.Design;
        CompletionDate = Project.CompletionDate;

        languages = await service.GetLanguagesByProjectId(ProjectId);
    }
}
