@page "/projects/{ProjectId:int}"
@using Portfolio.Shared
@inject Portfolio.Blazor.DataProvider.APIService service
@inject NavigationManager NavManager

<h3>@Title</h3>
<br />

<h5>Requirements:</h5>
<p>@Requirements</p>
<br />

<h5>Design:</h5>
<p>@Design</p>
<br />

<h5>Completion date:</h5>
<p>@CompletionDate</p>
<br />



<h5>Languages:</h5>
@foreach (var l in languages)
{
    <ul>
        <li><a class="text-primary" @onclick="() => NavigateToCategory(nameof(languages), l.Id)">@l.Name</a></li>
    </ul>
}



<h5>Platforms:</h5>
@foreach (var p in platforms)
{
    <ul>
        <li><a class="text-primary" @onclick="() => NavigateToCategory(nameof(platforms), p.Id)">@p.Name</a></li>
    </ul>
}



<h5>Technologies:</h5>
@foreach (var t in technologies)
{
    <ul>
        <li><a class="text-primary" @onclick="() => NavigateToCategory(nameof(technologies), t.Id)">@t.Name</a></li>
    </ul>
}

@code {
    [Parameter]
    public int ProjectId { get; set; }

    public string Title { get; set; }
    public string Requirements { get; set; }
    public string Design { get; set; }
    public DateTime CompletionDate { get; set; }

    public Project Project { get; set; }

    private IEnumerable<Language> languages = new List<Language>();
    private IEnumerable<Platform> platforms = new List<Platform>();
    private IEnumerable<Technology> technologies = new List<Technology>();

    /// <summary>
    /// it was needed to have separate properties for displaying
    /// because the page loaded before oninitializedasync finished
    /// giving place to a null exception
    /// </summary>
    /// <returns>void Task</returns>
    protected override async Task OnInitializedAsync()
    {
        //return base.OnInitializedAsync();
        Project = await service.GetProjectByIDAsync(ProjectId);

        Title = Project.Title;
        Requirements = Project.Requirement;
        Design = Project.Design;
        CompletionDate = Project.CompletionDate;

        languages = await service.GetLanguagesByProjectId(ProjectId);
        platforms = await service.GetPlatformsByProjectId(ProjectId);
        technologies = await service.GetTechnologiesByProjectId(ProjectId);
    }

    public void NavigateToCategory(string url, int id)
    {
        NavManager.NavigateTo($"{url}/{id}");
    }
}
